<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title> DigTab Community </title>
    <meta name="description"
        content="DigTab is a Community where students are able to connect with the industry, talk to industry experts and learn from them. DigTab is where creators, modern thinkers and learners come together to create magic.">
    <meta name="copyright" content="Time Trailblazer Pvt. Ltd.">
    <meta name="author" content="Buzz09, startmybuzz@buzz09.com">
    <meta name="robots" content="index,follow" />

    <!-- OG Tags -->
    <meta name="og:title" content="DigTab Community" />
    <meta name="og:type" content="movie" />
    <meta name="og:url" content="http://www.imdb.com/title/tt0117500/" />
    <meta name="og:image" content="http://ia.media-imdb.com/rock.jpg" />
    <meta name="og:site_name" content="IMDb" />
    <meta name="og:description"
        content="DigTab is a Community where students are able to connect with the industry, talk to industry experts and learn from them. DigTab is where creators, modern thinkers and learners come together to create magic." />

    <meta name="fb:page_id" content="43929265776" />

    <meta name="og:email" content="startmybuzz@buzz09.com" />
    <meta name="og:phone_number" content="7838270706" />
    <meta name="og:fax_number" content="--" />

    <meta name="og:latitude" content="37.416343" />
    <meta name="og:longitude" content="-122.153013" />
    <meta name="og:street-address" content="-" />
    <meta name="og:locality" content="Delhi" />
    <meta name="og:region" content="Delhi" />
    <meta name="og:postal-code" content="110095" />
    <meta name="og:country-name" content="India" />



    <!-- Script Links -->
    <script src="https://kit.fontawesome.com/c2447a4349.js" crossorigin="anonymous"></script>

    <!-- Bootstrap Metas -->
    <!-- CSS Bs -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--CSS-->
    <link rel="stylesheet" href="./assets/css/main.css">


    <!-- JS Bs -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- Custom JS files -->
    <script src="./assets/js/main.js">
    </script>


    <!-- Google Analytics Tag Goes Here -->

    <!-- Google Tags Manager -->

    <!-- Google Ads Tag Goes Here -->





</head>
<style>
    p {
        font-family: sans-serif;
        font-size: 20px;
    }

    .topbar {}

    .certificatemain {
        height: 800px;
        width: auto;
        padding: 1% 0;
    }

    .innercertificate {
        background-image: url(/img/cert.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 750px;
        width: auto;
        padding: 0 15% 55px 15%;
        overflow: hidden;
    }

    .logomain {
        height: 100px;
        margin-left: 90%;
        margin-top: 10%;
    }

    .smallplaceholder {
        margin-top: -5%;
        text-align: left;
        font-size: 12px;
    }

    .largeplaceholder {
        text-align: center;
        margin-top: 4%;
    }

    .largeplaceholder h1 {
        font-size: 50px;
        font-style: oblique;
        color: #e15613
    }

    .detailsmain {
        margin-top: 6%;
        text-align: center;
    }

    .partiname {
        margin-bottom: 5%;
    }

    .partiname h3 {
        font-size: 48px;
    }


    /* .innermaintext {
    position: ;
    text-align: center;
    font-size: 50px;
    left: 250px;
    width: 700px;
} */

    .dldicon {
        position: fixed;
        top: 30px;
        right: 65px;
        height: 50px;
        font-size: 30px;
        color: #e15613;
    }

    .dateplaceholder {
        margin-top: -1%;
    }

    .sign1main {
        margin-top: 2%;
        display: inline;
        text-align: center;
    }

    .sign1 {
        width: 150px;
        height: 60px;
        border-bottom: solid 1px #e15613;
        margin-bottom: 1%;
    }

    .desig1 {
        font-size: 16px;
    }

    .sign2 {
        width: 150px;
        height: 60px;
        border-bottom: solid 1px #e15613;
        margin-bottom: 1%;
    }

    .desig2 {
        font-size: 12px;
    }

    .sign2main {
        margin-top: 2%;
        text-align: center;
        display: inline;
    }

    .textcenter {
        text-align: left;
    }
</style>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#">Digtab</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
         <li class="nav-item active">
          <a class="nav-link" href="#"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
      </ul>
      <ul class="navbar-nav">
        <div class="dropdown mr-1">
          <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
              <%= result[1][0].name %>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
            <a class="dropdown-item" href="/create-certificate">Create Certificate</a>
            <a class="dropdown-item" href="#">My Certificate</a>
          </div>
        </div>
        
        <li class="nav-item active">
          <a class="nav-link" href="/register/logout"
            >Logout <span class="sr-only"></span></a
          >
        </li>
        
      </ul>
      </form>
    </div>
  </nav>
    <div class="container certificatemain canvas_div_pdf">
        <div class="innercertificate">
            <div class="topbar">
                <img src="/img/logomain.jpeg" alt="DigTab Community" class="logomain">

                <p class="smallplaceholder">ID: <span>WS/000<%=result[0][0].studentid%>/11022020</span></p>
                <p class="dateplaceholder">Date: <span>Tue , Feb 11 , 2020</span></p>
            </div>
            <div class="titlehead largeplaceholder">
                <h1 class="innermaintext">Certificate of Participation</h1>
                
            </div>
            <div class="detailsmain">
                <div class="partiname">
                    <p>This certificate is awarded to</p>
                    <h3><%=result[1][0].name%></h3>
                </div>
                <div class="nameparticipant">
                    <p>In recognition to
                        <span class="gender1">
                          <!-- <% if(result[0].gender == 'female') { %>
                            his
                            <% } else { %>
                            her
                            <% } %> -->
                            
                        </span> active participation in the
                        <span class="wsname"><%= result[0][0]. workshopname %></span> Workshop organised by DigTab in
                        <span class="clgcert"><%= result[0][0]. collegename %></span>.
                        <span class="gender2">
                            <!-- <% if(result[0].gender == 'female') { %>
                            SHe
                            <% } else { %>
                            He
                            <% } %> -->
                            
                        </span> is henceforth certified to be a part the DigTab Community.
                    </p>

                </div>

                
            </div>
            <div class="row">
                <div class="sign1main col-4">
                    <img src="/img//sign1.png" alt="DigTab" class="sign1">
                    <p class="desig1">Ankit Kashyap <br> Director, DigTab </p>
                </div>
                <div class="col-3"></div>
                <div class="sign2main col-5">
                    <img src="/img//sign2.png" alt="DigTab" class="sign2">
                    <p class="desig1">Kshitij Singh Rathore <br> Managing Director, DigTab </p>
                </div>
            </div>
        </div>
    </div>


    <i onclick="getPDF()" id="downloadbtn" class="fas fa-download dldicon"></i>
</body>
<script>
    function getPDF() {

        var HTML_Width = $(".canvas_div_pdf").width();
        var HTML_Height = $(".canvas_div_pdf").height();
        var top_left_margin = 15;
        var PDF_Width = HTML_Width + (top_left_margin * 0);
        var PDF_Height = (PDF_Width * 1.5) + (top_left_margin * 0);
        var canvas_image_width = HTML_Width;
        var canvas_image_height = HTML_Height;


        var totalPDFPages = Math.ceil(HTML_Height / PDF_Height) - 1;


        html2canvas($(".canvas_div_pdf")[0], { allowTaint: true }).then(function (canvas) {
            canvas.getContext('2d');

            console.log(canvas.height + "  " + canvas.width);


            var imgData = canvas.toDataURL("image/jpeg", 1.0);
            var pdf = new jsPDF('p', 'pt', [PDF_Width, PDF_Height]);
            pdf.addImage(imgData, 'JPG', top_left_margin, top_left_margin, canvas_image_width, canvas_image_height);

            for (var i = 1; i <= totalPDFPages; i++) {
                pdf.addPage(PDF_Width, PDF_Height);
                //  pdf.addImage(imgData, 'JPG', top_left_margin, + canvas_image_width, canvas_image_height);
            }

            pdf.save("digtab_certificate.pdf");
        });
    };

</script>

</html>